# Entorno
.env
*.pyc
__pycache__/
.venv/

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# Distribución
dist/
build/
*.egg-info/

# Otros
.DS_Store
*copy*
node_modules/
*_old
src/service_templates.py
src/*.css
src/*.html
*.zip
*.pdf