USE [SAM]
GO
/****** Object:  User [AA360]    Script Date: 5/8/2025 09:49:34 ******/
CREATE USER [AA360] FOR LOGIN [AA360] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [RPA]    Script Date: 5/8/2025 09:49:34 ******/
CREATE USER [RPA] FOR LOGIN [RPA] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [AA360]
GO
ALTER ROLE [db_owner] ADD MEMBER [RPA]
GO
/****** Object:  UserDefinedTableType [dbo].[EquipoListType]    Script Date: 5/8/2025 09:49:35 ******/
CREATE TYPE [dbo].[EquipoListType] AS TABLE(
	[EquipoId] [int] NOT NULL,
	[Equipo] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Licencia] [nvarchar](50) NULL,
	[Activo_SAM] [bit] NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[EquipoId] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Object:  UserDefinedTableType [dbo].[RobotListType]    Script Date: 5/8/2025 09:49:35 ******/
CREATE TYPE [dbo].[RobotListType] AS TABLE(
	[RobotId] [int] NOT NULL,
	[Robot] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](4000) NULL,
	PRIMARY KEY CLUSTERED 
(
	[RobotId] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[EquipoId] [int] NOT NULL,
	[Equipo] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Licencia] [nvarchar](50) NULL,
	[Activo_SAM] [bit] NOT NULL,
	[EstadoBalanceador] [nvarchar](50) NULL,
	[PermiteBalanceoDinamico] [bit] NOT NULL,
	[PoolId] [int] NULL,
 CONSTRAINT [PK__Equipos__DE8A0BDF6ED005DC] PRIMARY KEY CLUSTERED 
(
	[EquipoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asignaciones]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaciones](
	[RobotId] [int] NULL,
	[EquipoId] [int] NULL,
	[EsProgramado] [bit] NULL,
	[Reservado] [bit] NULL,
	[FechaAsignacion] [datetime2](0) NULL,
	[AsignadoPor] [nvarchar](50) NULL,
	[ProgramacionId] [int] NULL,
 CONSTRAINT [UQ_RobotEquipo] UNIQUE NONCLUSTERED 
(
	[RobotId] ASC,
	[EquipoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Robots]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Robots](
	[RobotId] [int] NOT NULL,
	[Robot] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](4000) NULL,
	[Parametros] [nvarchar](max) NULL,
	[Activo] [bit] NULL,
	[EsOnline] [bit] NULL,
	[MinEquipos] [int] NOT NULL,
	[MaxEquipos] [int] NOT NULL,
	[PrioridadBalanceo] [int] NOT NULL,
	[TicketsPorEquipoAdicional] [int] NULL,
	[PoolId] [int] NULL,
 CONSTRAINT [PK__Robots__FBB332411B3A6772] PRIMARY KEY CLUSTERED 
(
	[RobotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[AsignacionesView]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AsignacionesView]
AS
SELECT R.Robot, EQ.Equipo, A.RobotId, A.EquipoId, A.EsProgramado, A.Reservado
FROM     dbo.Asignaciones AS A INNER JOIN
                  dbo.Equipos AS EQ ON A.EquipoId = EQ.EquipoId INNER JOIN
                  dbo.Robots AS R ON A.RobotId = R.RobotId
GO
/****** Object:  Table [dbo].[Ejecuciones]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejecuciones](
	[DeploymentId] [nvarchar](100) NOT NULL,
	[RobotId] [int] NULL,
	[EquipoId] [int] NULL,
	[UserId] [nchar](10) NULL,
	[Hora] [time](0) NULL,
	[FechaInicio] [datetime2](0) NOT NULL,
	[FechaFin] [datetime2](0) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaActualizacion] [datetime2](0) NULL,
	[CallbackInfo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Ejecuciones] PRIMARY KEY CLUSTERED 
(
	[DeploymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[EjecucionesActivas]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EjecucionesActivas]
AS
SELECT TOP (100) PERCENT R.Robot, EQ.Equipo, E.DeploymentId, E.RobotId, E.EquipoId, E.UserId, E.Hora, E.FechaInicio, E.FechaFin, E.Estado, E.CallbackInfo
FROM     dbo.Ejecuciones AS E INNER JOIN
                  dbo.Equipos AS EQ ON E.EquipoId = EQ.EquipoId INNER JOIN
                  dbo.Robots AS R ON E.RobotId = R.RobotId
WHERE  (E.Estado IN ('PENDING_EXECUTION', 'DEPLOYED', 'RUNNING', 'UPDATE', 'RUN_PAUSED', 'QUEUED'))
ORDER BY R.Robot, E.FechaInicio DESC
GO
/****** Object:  View [dbo].[EquiposAsignados]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW  [dbo].[EquiposAsignados] AS
select r.Robot, count(e.Equipo) Equipos from Asignaciones a inner join Robots r on r.RobotId=a.RobotId
inner join Equipos e on e.EquipoId = a.EquipoId
group by Robot;
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[ErrorLogId] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](0) NOT NULL,
	[Usuario] [nvarchar](100) NOT NULL,
	[SPNombre] [nvarchar](100) NOT NULL,
	[ErrorMensaje] [nvarchar](max) NOT NULL,
	[Parametros] [nvarchar](max) NULL,
 CONSTRAINT [PK_ErrorLog] PRIMARY KEY CLUSTERED 
(
	[ErrorLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoricoBalanceo]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoBalanceo](
	[HistoricoId] [int] IDENTITY(1,1) NOT NULL,
	[FechaBalanceo] [datetime2](0) NOT NULL,
	[RobotId] [int] NOT NULL,
	[TicketsPendientes] [int] NOT NULL,
	[EquiposAsignadosAntes] [int] NOT NULL,
	[EquiposAsignadosDespues] [int] NOT NULL,
	[AccionTomada] [nvarchar](50) NOT NULL,
	[Justificacion] [nvarchar](255) NULL,
	[PoolId] [int] NULL,
 CONSTRAINT [PK_HistoricoBalanceo] PRIMARY KEY CLUSTERED 
(
	[HistoricoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pools]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pools](
	[PoolId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaModificacion] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[PoolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programaciones]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programaciones](
	[ProgramacionId] [int] IDENTITY(1,1) NOT NULL,
	[RobotId] [int] NULL,
	[TipoProgramacion] [nvarchar](20) NULL,
	[HoraInicio] [time](0) NOT NULL,
	[DiasSemana] [nvarchar](20) NULL,
	[DiaDelMes] [int] NULL,
	[FechaEspecifica] [date] NULL,
	[Tolerancia] [int] NULL,
	[Activo] [bit] NULL,
	[FechaCreacion] [datetime2](0) NULL,
	[FechaModificacion] [datetime2](0) NULL,
 CONSTRAINT [PK__Programa__B9967C40CEE769DF] PRIMARY KEY CLUSTERED 
(
	[ProgramacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  CONSTRAINT [DF_Asignaciones_EsProgramado]  DEFAULT ((0)) FOR [EsProgramado]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  CONSTRAINT [DF_Asignaciones_Reservado]  DEFAULT ((0)) FOR [Reservado]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  CONSTRAINT [DF_Asignaciones_FechaAsignacion]  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[Ejecuciones] ADD  CONSTRAINT [DF_Ejecuciones_FechaInicio]  DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[Equipos] ADD  CONSTRAINT [DF_Equipos_Activo_SAM]  DEFAULT ((1)) FOR [Activo_SAM]
GO
ALTER TABLE [dbo].[Equipos] ADD  CONSTRAINT [DF_Equipos_PermiteBalanceoDinamico]  DEFAULT ((1)) FOR [PermiteBalanceoDinamico]
GO
ALTER TABLE [dbo].[ErrorLog] ADD  CONSTRAINT [DF_ErrorLog_FechaHora]  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[HistoricoBalanceo] ADD  DEFAULT (getdate()) FOR [FechaBalanceo]
GO
ALTER TABLE [dbo].[Pools] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Pools] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Programaciones] ADD  CONSTRAINT [DF__Programac__Toler__208CD6FA]  DEFAULT ((60)) FOR [Tolerancia]
GO
ALTER TABLE [dbo].[Robots] ADD  CONSTRAINT [DF_Robots_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Robots] ADD  CONSTRAINT [DF_Robots_EsOnline]  DEFAULT ((0)) FOR [EsOnline]
GO
ALTER TABLE [dbo].[Robots] ADD  CONSTRAINT [DF_Robots_MinEquipos]  DEFAULT ((1)) FOR [MinEquipos]
GO
ALTER TABLE [dbo].[Robots] ADD  CONSTRAINT [DF_Robots_MaxEquipos]  DEFAULT ((-1)) FOR [MaxEquipos]
GO
ALTER TABLE [dbo].[Robots] ADD  CONSTRAINT [DF_Robots_PrioridadBalanceo]  DEFAULT ((100)) FOR [PrioridadBalanceo]
GO
ALTER TABLE [dbo].[Robots] ADD  CONSTRAINT [DF_Robots_TicketsPorEquipoAdicional]  DEFAULT ((10)) FOR [TicketsPorEquipoAdicional]
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_Pools] FOREIGN KEY([PoolId])
REFERENCES [dbo].[Pools] ([PoolId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_Pools]
GO
ALTER TABLE [dbo].[HistoricoBalanceo]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoBalanceo_Robots] FOREIGN KEY([RobotId])
REFERENCES [dbo].[Robots] ([RobotId])
GO
ALTER TABLE [dbo].[HistoricoBalanceo] CHECK CONSTRAINT [FK_HistoricoBalanceo_Robots]
GO
ALTER TABLE [dbo].[Robots]  WITH CHECK ADD  CONSTRAINT [FK_Robots_Pools] FOREIGN KEY([PoolId])
REFERENCES [dbo].[Pools] ([PoolId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Robots] CHECK CONSTRAINT [FK_Robots_Pools]
GO
ALTER TABLE [dbo].[Programaciones]  WITH CHECK ADD  CONSTRAINT [CK__Programac__TipoP__1F98B2C1] CHECK  (([TipoProgramacion]='Especifica' OR [TipoProgramacion]='Mensual' OR [TipoProgramacion]='Semanal' OR [TipoProgramacion]='Diaria'))
GO
ALTER TABLE [dbo].[Programaciones] CHECK CONSTRAINT [CK__Programac__TipoP__1F98B2C1]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarPool]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarPool]
    @PoolId INT,
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    -- 1. Validar que el PoolId exista. Si no, lanzar un error claro.
    IF NOT EXISTS (SELECT 1 FROM dbo.Pools WHERE PoolId = @PoolId)
    BEGIN
        RAISERROR ('No se encontró un pool con el ID %d.', 16, 1, @PoolId);
        RETURN;
    END

    -- 2. Validar que el nuevo nombre no esté en uso por OTRO pool.
    IF EXISTS (SELECT 1 FROM dbo.Pools WHERE Nombre = @Nombre AND PoolId <> @PoolId)
    BEGIN
        RAISERROR ('El nombre "%s" ya está en uso por otro pool.', 16, 1, @Nombre);
        RETURN;
    END

    -- 3. Simplemente ejecutar el UPDATE. No necesitamos TRY/CATCH aquí
    --    porque XACT_ABORT ya maneja los errores, y las validaciones previenen
    --    los casos más comunes.
    UPDATE dbo.Pools
    SET
        Nombre = @Nombre,
        Descripcion = @Descripcion,
        FechaModificacion = GETDATE()
    WHERE
        PoolId = @PoolId;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarProgramacionCompleta]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[ActualizarProgramacionCompleta]
    @ProgramacionId INT,
    @RobotId INT,
    @TipoProgramacion NVARCHAR(20),
    @HoraInicio TIME,
    @DiaSemana NVARCHAR(20) = NULL,
    @DiaDelMes INT = NULL,
    @FechaEspecifica DATE = NULL,
    @Tolerancia INT = NULL,
    @Equipos NVARCHAR(MAX), -- Equipos como nombres separados por coma
    @UsuarioModifica NVARCHAR(50) = 'WebApp'
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @Robot NVARCHAR(100);

    -- Tabla temporal para almacenar los IDs de equipos válidos
    CREATE TABLE #NuevosEquiposProgramados (EquipoId INT PRIMARY KEY);

    BEGIN TRY
        -- Obtener el nombre del robot para logs
        SELECT @Robot = Robot FROM dbo.Robots WHERE RobotId = @RobotId;

        BEGIN TRANSACTION;

        -- 1. Actualizar datos de la programación
        UPDATE dbo.Programaciones
        SET TipoProgramacion = @TipoProgramacion,
            HoraInicio = @HoraInicio,
            DiasSemana = CASE WHEN @TipoProgramacion = 'Semanal' THEN @DiaSemana ELSE NULL END,
            DiaDelMes = CASE WHEN @TipoProgramacion = 'Mensual' THEN @DiaDelMes ELSE NULL END,
            FechaEspecifica = CASE WHEN @TipoProgramacion = 'Especifica' THEN @FechaEspecifica ELSE NULL END,
            Tolerancia = @Tolerancia,
            FechaModificacion = GETDATE()
        WHERE ProgramacionId = @ProgramacionId AND RobotId = @RobotId;

        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('Programación no encontrada o no pertenece al RobotId especificado.', 16, 1);
            RETURN;
        END

        -- 2. Poblar #NuevosEquiposProgramados
        INSERT INTO #NuevosEquiposProgramados (EquipoId)
        SELECT E.EquipoId
        FROM STRING_SPLIT(@Equipos, ',') AS S
        JOIN dbo.Equipos E ON LTRIM(RTRIM(S.value)) = E.Equipo
        WHERE E.Activo_SAM = 1;

        -- Mostrar advertencias por equipos inválidos o inactivos
        SELECT 'Warning: Equipo "' + LTRIM(RTRIM(S.value)) + '" no encontrado o inactivo y no será programado.' AS Advertencia
        FROM STRING_SPLIT(@Equipos, ',') S
        WHERE NOT EXISTS (
            SELECT 1 FROM dbo.Equipos E
            WHERE E.Equipo = LTRIM(RTRIM(S.value)) AND E.Activo_SAM = 1
        );

        -- 3. Desprogramar equipos que ya no deben estar en esta programación
        UPDATE A
        SET EsProgramado = 0,
            ProgramacionId = NULL,
            AsignadoPor = @UsuarioModifica,
            FechaAsignacion = GETDATE()
        FROM dbo.Asignaciones A
        WHERE A.ProgramacionId = @ProgramacionId AND A.EsProgramado = 1
          AND NOT EXISTS (
              SELECT 1 FROM #NuevosEquiposProgramados NEP WHERE NEP.EquipoId = A.EquipoId
          )
          AND A.RobotId = @RobotId;

        -- Habilitar balanceo dinámico para los equipos que ya no están programados en ningún lado
        UPDATE E
        SET PermiteBalanceoDinamico = 1
        FROM dbo.Equipos E
        WHERE EXISTS (
            SELECT 1
            FROM dbo.Asignaciones A
            WHERE A.EquipoId = E.EquipoId
              AND A.RobotId = @RobotId
              AND A.ProgramacionId = @ProgramacionId
              AND A.EsProgramado = 0
        )
        AND NOT EXISTS (
            SELECT 1
            FROM dbo.Asignaciones A
            WHERE A.EquipoId = E.EquipoId
              AND A.EsProgramado = 1
              AND A.ProgramacionId IS NOT NULL
        );

        -- 4. Programar los nuevos equipos
        MERGE dbo.Asignaciones AS Target
        USING #NuevosEquiposProgramados AS Source
        ON Target.EquipoId = Source.EquipoId AND Target.RobotId = @RobotId
        WHEN MATCHED THEN
            UPDATE SET
                EsProgramado = 1,
                ProgramacionId = @ProgramacionId,
                Reservado = 0,
                AsignadoPor = @UsuarioModifica,
                FechaAsignacion = GETDATE()
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (RobotId, EquipoId, EsProgramado, ProgramacionId, Reservado, AsignadoPor, FechaAsignacion)
            VALUES (@RobotId, Source.EquipoId, 1, @ProgramacionId, 0, @UsuarioModifica, GETDATE());

        -- Desactivar balanceo dinámico para equipos recién programados
        UPDATE E
        SET PermiteBalanceoDinamico = 0
        FROM dbo.Equipos E
        JOIN #NuevosEquiposProgramados NEP ON E.EquipoId = NEP.EquipoId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

														
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();

        DECLARE @Parametros NVARCHAR(MAX);
        SET @Parametros = 
            '@Robot = ' + ISNULL(@Robot, 'NULL') + 
            ', @Equipos = ' + ISNULL(@Equipos, 'NULL') + 
            ', @HoraInicio = ' + ISNULL(CONVERT(NVARCHAR(8), @HoraInicio, 108), 'NULL') + 
            ', @Tolerancia = ' + ISNULL(CAST(@Tolerancia AS NVARCHAR(10)), 'NULL');

        INSERT INTO ErrorLog (Usuario, SPNombre, ErrorMensaje, Parametros)
        VALUES (SUSER_NAME(), 'ActualizarProgramacionCompleta', @ErrorMessage, @Parametros);

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH

    -- Limpieza de tabla temporal
    IF OBJECT_ID('tempdb..#NuevosEquiposProgramados') IS NOT NULL
        DROP TABLE #NuevosEquiposProgramados;
END
GO
/****** Object:  StoredProcedure [dbo].[AnalisisTiemposEjecucionRobots]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear o actualizar el Stored Procedure para análisis de tiempos de ejecución por robot
CREATE   PROCEDURE [dbo].[AnalisisTiemposEjecucionRobots]
    @ExcluirPorcentajeInferior DECIMAL(3,2) = 0.15,  -- 15% por defecto
    @ExcluirPorcentajeSuperior DECIMAL(3,2) = 0.85,  -- 85% por defecto
    @IncluirSoloCompletadas BIT = 1,                   -- 1 = Solo completadas, 0 = Todos los estados
	@MesesHaciaAtras INT = 1 
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validar parámetros
    IF @ExcluirPorcentajeInferior >= @ExcluirPorcentajeSuperior
    BEGIN
        RAISERROR('El porcentaje inferior debe ser menor que el superior', 16, 1);
        RETURN;
    END;
    
    -- Análisis de tiempos de ejecución por robot excluyendo extremos
    WITH TiemposEjecucion AS (
        SELECT 
            e.RobotId,
            e.DeploymentId,
            e.FechaInicio,
            e.FechaFin,
            e.Estado,
            -- Calcular duración en minutos
            DATEDIFF(MINUTE, e.FechaInicio, e.FechaFin) AS DuracionMinutos,
            -- Calcular duración en segundos para mayor precisión
            DATEDIFF(SECOND, e.FechaInicio, e.FechaFin) AS DuracionSegundos
        FROM Ejecuciones e
        WHERE e.FechaInicio IS NOT NULL 
            AND e.FechaFin IS NOT NULL
			AND e.FechaInicio >= DATEADD(MONTH, -@MesesHaciaAtras, GETDATE())
            AND (@IncluirSoloCompletadas = 0 OR e.Estado IN ('COMPLETED', 'RUN_COMPLETED'))
            AND DATEDIFF(SECOND, e.FechaInicio, e.FechaFin) > 0  -- Duración positiva
    ),
    TiemposConRanking AS (
        SELECT 
            RobotId,
            DuracionMinutos,
            DuracionSegundos,
            -- Calcular posición y total de registros por robot
            ROW_NUMBER() OVER (PARTITION BY RobotId ORDER BY DuracionSegundos) AS Posicion,
            COUNT(*) OVER (PARTITION BY RobotId) AS TotalRegistros
        FROM TiemposEjecucion
    ),
    TiemposFiltrados AS (
        SELECT 
            RobotId,
            DuracionMinutos,
            DuracionSegundos,
            Posicion,
            TotalRegistros
        FROM TiemposConRanking
        WHERE Posicion > (TotalRegistros * @ExcluirPorcentajeInferior)
            AND Posicion <= (TotalRegistros * @ExcluirPorcentajeSuperior)
    )
    SELECT 
        tf.RobotId,
        r.Robot,  -- Nombre del robot desde la tabla Robots
        r.EsOnline,  -- Si el robot está online (bit)
        COUNT(*) AS EjecucionesAnalizadas,
        -- Mostrar también el total original para comparación
        MAX(tf.TotalRegistros) AS TotalEjecucionesOriginales,
        -- Porcentaje de ejecuciones incluidas en el análisis
        CAST((COUNT(*) * 100.0 / MAX(tf.TotalRegistros)) AS DECIMAL(5,2)) AS PorcentajeIncluido,
        -- Tiempo promedio POR EJECUCIÓN (sin extremos)
        AVG(CAST(tf.DuracionMinutos AS FLOAT)) AS TiempoPromedioPorEjecucionMinutos,
        -- Tiempo total acumulado de todas las ejecuciones analizadas
        SUM(CAST(tf.DuracionMinutos AS FLOAT)) AS TiempoTotalAcumuladoMinutos,
        -- Tiempo promedio en segundos
        AVG(CAST(tf.DuracionSegundos AS FLOAT)) AS TiempoPromedioPorEjecucionSegundos,
        -- Tiempo máximo y mínimo (después del filtro)
        MAX(tf.DuracionMinutos) AS TiempoMaximoPorEjecucionMinutos,
        MIN(tf.DuracionMinutos) AS TiempoMinimoPorEjecucionMinutos,
        -- Formatear tiempo promedio como HH:MM:SS
        CONVERT(VARCHAR(8), DATEADD(SECOND, AVG(CAST(tf.DuracionSegundos AS FLOAT)), 0), 108) AS TiempoPromedioPorEjecucionFormateado,
        -- Formatear tiempo total acumulado (máximo 24 horas, sino mostrará días)
        CASE 
            WHEN SUM(CAST(tf.DuracionSegundos AS FLOAT)) < 86400 THEN 
                CONVERT(VARCHAR(8), DATEADD(SECOND, SUM(CAST(tf.DuracionSegundos AS FLOAT)), 0), 108)
            ELSE 
                CONCAT(
                    CAST(SUM(CAST(tf.DuracionSegundos AS FLOAT)) / 86400 AS INT), 'd ',
                    CONVERT(VARCHAR(8), DATEADD(SECOND, CAST(SUM(CAST(tf.DuracionSegundos AS FLOAT)) AS BIGINT) % 86400, 0), 108)
                )
        END AS TiempoTotalAcumuladoFormateado,
        -- Mostrar el rango de percentiles incluidos
        CONCAT('P', CAST(@ExcluirPorcentajeInferior * 100 AS INT), ' - P', CAST(@ExcluirPorcentajeSuperior * 100 AS INT)) AS RangoPercentiles,
        -- Información adicional de performance
        STDEV(CAST(tf.DuracionSegundos AS FLOAT)) AS DesviacionEstandarSegundos,
        -- Fecha del análisis
        GETDATE() AS FechaAnalisis
    FROM TiemposFiltrados tf 
    INNER JOIN Robots r ON r.RobotId = tf.RobotId
    GROUP BY tf.RobotId, r.Robot, r.EsOnline
    ORDER BY TiempoPromedioPorEjecucionSegundos DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[AsignarRobotOnline]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AsignarRobotOnline]
    @Robot NVARCHAR(100),
    @Equipos NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;

		SET @Equipos = UPPER(TRIM(@Equipos))
        -- Validar la existencia del robot
        DECLARE @RobotId INT;
        SELECT @RobotId = RobotId FROM Robots WHERE Robot = @Robot;
        
        IF @RobotId IS NULL
        BEGIN
            RAISERROR('El robot especificado no existe.', 16, 1);
            RETURN;
        END

        -- Preparar la tabla temporal para los equipos
        DECLARE @EquiposTemp TABLE (Equipo NVARCHAR(255));
        INSERT INTO @EquiposTemp (Equipo)
        SELECT TRIM(value) FROM STRING_SPLIT(@Equipos, ',');

        -- Iterar sobre los equipos y asignarlos
        DECLARE @EquipoNombre NVARCHAR(255);
        DECLARE @EquipoId INT;
        
        DECLARE equipo_cursor CURSOR FOR 
        SELECT Equipo FROM @EquiposTemp;

        OPEN equipo_cursor;
        FETCH NEXT FROM equipo_cursor INTO @EquipoNombre;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Validar la existencia del equipo
            SELECT @EquipoId = EquipoId FROM Equipos WHERE Equipo = @EquipoNombre;
            
            IF @EquipoId IS NULL
            BEGIN
                PRINT 'El equipo "' + @EquipoNombre + '" no existe. Se omitirá su asignación.';
            END
            ELSE
            BEGIN
                -- Verificar si el robot ya está asignado al equipo
                IF EXISTS (SELECT 1 FROM Asignaciones WHERE RobotId = @RobotId AND EquipoId = @EquipoId)
                BEGIN
                    PRINT 'El robot ya está asignado al equipo "' + @EquipoNombre + '". Se omitirá su asignación.';
                END
                ELSE
                BEGIN
                    -- Insertar la nueva asignación no programada
                    INSERT INTO Asignaciones (RobotId, EquipoId, EsProgramado)
                    VALUES (@RobotId, @EquipoId, 0); -- EsProgramado = 0 para robots no programados

                    PRINT 'Robot asignado exitosamente al equipo "' + @EquipoNombre + '".';
                END
            END

            FETCH NEXT FROM equipo_cursor INTO @EquipoNombre;
        END

        CLOSE equipo_cursor;
        DEALLOCATE equipo_cursor;

        COMMIT TRANSACTION;
        PRINT 'Asignaciones completadas exitosamente.';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Registrar el error en la tabla ErrorLog
        INSERT INTO ErrorLog (Usuario, SPNombre, ErrorMensaje, Parametros)
        VALUES (
            SUSER_NAME(),
            'AsignarRobotOnline',
            ERROR_MESSAGE(),
            '@Robot = ' + @Robot + ', @Equipos = ' + @Equipos
        );

        -- Mostrar un mensaje de error
        PRINT 'Error: ' + ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CargarProgramacionDiaria]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author,,Name>
-- Create date: <Create Date,,>
-- Description: Carga una programación diaria para un robot y equipos específicos.
-- Modificado por: AI Agent
-- Fecha Modificación: <Current Date>
-- Descripción Modificación:
--   - @Equipos ahora acepta una lista de nombres de equipo separados por comas.
--   - Se utiliza SCOPE_IDENTITY() para obtener el ProgramacionId.
--   - Se procesan múltiples equipos, insertando o actualizando en dbo.Asignaciones.
--   - Se establece ProgramacionId y EsProgramado=1 en dbo.Asignaciones.
--   - Se manejan advertencias para equipos no encontrados.
--   - Se mantiene la lógica de transacción y actualización de Robot.EsOnline.
-- =============================================
CREATE PROCEDURE [dbo].[CargarProgramacionDiaria]
    @Robot NVARCHAR(100),
    @Equipos NVARCHAR(MAX), -- Comma-separated team names
    @HoraInicio NVARCHAR(MAX),
    @Tolerancia INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RobotId INT;
    DECLARE @NewProgramacionId INT;
    DECLARE @CurrentEquipoId INT;
    DECLARE @CurrentEquipoNombre NVARCHAR(100);
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Obtener RobotId
        SELECT @RobotId = RobotId FROM dbo.Robots WHERE Robot = @Robot;

        IF @RobotId IS NULL
        BEGIN
            RAISERROR('El robot especificado no existe.', 16, 1);
            RETURN; -- Salir si el robot no existe
        END

        -- Insertar en Programaciones
        INSERT INTO dbo.Programaciones (RobotId, TipoProgramacion, HoraInicio, Tolerancia, Activo, FechaCreacion)
        VALUES (@RobotId, 'Diaria', @HoraInicio, @Tolerancia, 1, GETDATE());

        -- Obtener el ProgramacionId recién insertado
        SET @NewProgramacionId = SCOPE_IDENTITY();

        IF @NewProgramacionId IS NULL
        BEGIN
            RAISERROR('No se pudo obtener el ID de la nueva programación.', 16, 1);
            RETURN; -- Salir si no se pudo crear la programación
        END

        -- Actualizar el estado del Robot
        UPDATE dbo.Robots
        SET EsOnline = 0
        WHERE RobotId = @RobotId;

        -- Procesar cada equipo en la lista @Equipos
        DECLARE team_cursor CURSOR FOR
        SELECT LTRIM(RTRIM(value))
        FROM STRING_SPLIT(@Equipos, ',');

        OPEN team_cursor;
        FETCH NEXT FROM team_cursor INTO @CurrentEquipoNombre;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @CurrentEquipoId = NULL; -- Reset for each team

            -- Obtener EquipoId para el equipo actual
            SELECT @CurrentEquipoId = EquipoId FROM dbo.Equipos WHERE Equipo = @CurrentEquipoNombre;

            IF @CurrentEquipoId IS NOT NULL
            BEGIN
                -- Verificar si la asignación ya existe
                IF EXISTS (SELECT 1 FROM dbo.Asignaciones WHERE RobotId = @RobotId AND EquipoId = @CurrentEquipoId)
                BEGIN
                    UPDATE dbo.Asignaciones
                    SET EsProgramado = 1,
                        ProgramacionId = @NewProgramacionId,
                        Reservado = 0, -- Programación anula reserva manual
                        AsignadoPor = 'SP_Programacion_Diaria',
                        FechaAsignacion = GETDATE() -- Actualizar fecha de asignación/modificación
                    WHERE RobotId = @RobotId AND EquipoId = @CurrentEquipoId;
                END
                ELSE
                BEGIN
                    INSERT INTO dbo.Asignaciones (RobotId, EquipoId, EsProgramado, ProgramacionId, Reservado, AsignadoPor, FechaAsignacion)
                    VALUES (@RobotId, @CurrentEquipoId, 1, @NewProgramacionId, 0, 'SP_Programacion_Diaria', GETDATE());
                END

                -- Actualizar el equipo para que no permita balanceo dinámico
                UPDATE dbo.Equipos
                SET PermiteBalanceoDinamico = 0
                WHERE EquipoId = @CurrentEquipoId;
            END
            ELSE
            BEGIN
                -- Equipo no encontrado, imprimir advertencia
                PRINT 'Warning: Equipo ' + @CurrentEquipoNombre + ' no encontrado y no será asignado.';
            END

            FETCH NEXT FROM team_cursor INTO @CurrentEquipoNombre;
        END

        CLOSE team_cursor;
        DEALLOCATE team_cursor;

        COMMIT TRANSACTION;
        PRINT 'Programación diaria cargada y equipos asignados/actualizados exitosamente para el robot ' + @Robot;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Registrar el error en la tabla ErrorLog
        DECLARE @Parametros NVARCHAR(MAX);
        SET @Parametros = '@Robot = ' + @Robot + 
                        ', @Equipos = ' + @Equipos + 
                        ', @HoraInicio = ' + CONVERT(NVARCHAR(8), @HoraInicio, 108) + 
                        ', @Tolerancia = ' + CAST(@Tolerancia AS NVARCHAR(10));

        -- Luego:
        INSERT INTO ErrorLog (Usuario, SPNombre, ErrorMensaje, Parametros)
        VALUES (
            SUSER_NAME(),
            'CargarProgramacionEspecifica',
            ERROR_MESSAGE(),
            @Parametros
        );

        -- Mostrar un mensaje de error
        PRINT 'Error: ' + ERROR_MESSAGE();

        -- Relanzar el error para que el cliente lo reciba
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CargarProgramacionEspecifica]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author,,Name>
-- Create date: <Create Date,,>
-- Description: Carga una programación específica para un robot y equipos determinados.
-- Modificado por: AI Agent
-- Fecha Modificación: <Current Date>
-- Descripción Modificación:
--   - @Equipos ahora acepta una lista de nombres de equipo separados por comas.
--   - Se utiliza SCOPE_IDENTITY() para obtener el ProgramacionId.
--   - Se procesan múltiples equipos, insertando o actualizando en dbo.Asignaciones.
--   - Se establece ProgramacionId y EsProgramado=1 en dbo.Asignaciones.
--   - Se manejan advertencias para equipos no encontrados.
--   - Se mantiene la lógica de transacción y actualización de Robot.EsOnline.
-- =============================================
CREATE PROCEDURE [dbo].[CargarProgramacionEspecifica]
    @Robot NVARCHAR(100),
    @Equipos NVARCHAR(MAX), -- Comma-separated team names
    @FechaEspecifica NVARCHAR(MAX),
    @HoraInicio NVARCHAR(MAX),
    @Tolerancia INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RobotId INT;
    DECLARE @NewProgramacionId INT;
    DECLARE @CurrentEquipoId INT;
    DECLARE @CurrentEquipoNombre NVARCHAR(100);
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Obtener RobotId
        SELECT @RobotId = RobotId FROM dbo.Robots WHERE Robot = @Robot;

        IF @RobotId IS NULL
        BEGIN
            RAISERROR('El robot especificado no existe.', 16, 1);
            RETURN; 
        END

        -- Insertar en Programaciones
        INSERT INTO dbo.Programaciones (RobotId, TipoProgramacion, FechaEspecifica, HoraInicio, Tolerancia, Activo, FechaCreacion)
        VALUES (@RobotId, 'Especifica', @FechaEspecifica, @HoraInicio, @Tolerancia, 1, GETDATE());

        -- Obtener el ProgramacionId recién insertado
        SET @NewProgramacionId = SCOPE_IDENTITY();

        IF @NewProgramacionId IS NULL
        BEGIN
            RAISERROR('No se pudo obtener el ID de la nueva programación.', 16, 1);
            RETURN;
        END

        -- Actualizar el estado del Robot
        UPDATE dbo.Robots
        SET EsOnline = 0
        WHERE RobotId = @RobotId;

        -- Procesar cada equipo en la lista @Equipos
        DECLARE team_cursor CURSOR FOR
        SELECT LTRIM(RTRIM(value))
        FROM STRING_SPLIT(@Equipos, ',');

        OPEN team_cursor;
        FETCH NEXT FROM team_cursor INTO @CurrentEquipoNombre;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @CurrentEquipoId = NULL; 

            -- Obtener EquipoId para el equipo actual
            SELECT @CurrentEquipoId = EquipoId FROM dbo.Equipos WHERE Equipo = @CurrentEquipoNombre;

            IF @CurrentEquipoId IS NOT NULL
            BEGIN
                -- Verificar si la asignación ya existe
                IF EXISTS (SELECT 1 FROM dbo.Asignaciones WHERE RobotId = @RobotId AND EquipoId = @CurrentEquipoId)
                BEGIN
                    UPDATE dbo.Asignaciones
                    SET EsProgramado = 1,
                        ProgramacionId = @NewProgramacionId,
                        Reservado = 0, 
                        AsignadoPor = 'SP_Programacion_Especifica',
                        FechaAsignacion = GETDATE() 
                    WHERE RobotId = @RobotId AND EquipoId = @CurrentEquipoId;
                END
                ELSE
                BEGIN
                    INSERT INTO dbo.Asignaciones (RobotId, EquipoId, EsProgramado, ProgramacionId, Reservado, AsignadoPor, FechaAsignacion)
                    VALUES (@RobotId, @CurrentEquipoId, 1, @NewProgramacionId, 0, 'SP_Programacion_Especifica', GETDATE());
                END

                -- Actualizar el equipo para que no permita balanceo dinámico
                UPDATE dbo.Equipos
                SET PermiteBalanceoDinamico = 0
                WHERE EquipoId = @CurrentEquipoId;
            END
            ELSE
            BEGIN
                PRINT 'Warning: Equipo ' + @CurrentEquipoNombre + ' no encontrado y no será asignado.';
            END

            FETCH NEXT FROM team_cursor INTO @CurrentEquipoNombre;
        END

        CLOSE team_cursor;
        DEALLOCATE team_cursor;

        COMMIT TRANSACTION;
        PRINT 'Programación específica cargada y equipos asignados/actualizados exitosamente para el robot ' + @Robot;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Registrar el error en la tabla ErrorLog
        DECLARE @Parametros NVARCHAR(MAX);
        SET @Parametros = '@Robot = ' + @Robot + 
                        ', @Equipos = ' + @Equipos + 
                        ', @HoraInicio = ' + CONVERT(NVARCHAR(8), @HoraInicio, 108) + 
                        ', @Tolerancia = ' + CAST(@Tolerancia AS NVARCHAR(10));

        -- Luego:
        INSERT INTO ErrorLog (Usuario, SPNombre, ErrorMensaje, Parametros)
        VALUES (
            SUSER_NAME(),
            'CargarProgramacionEspecifica',
            ERROR_MESSAGE(),
            @Parametros
        );

        -- Mostrar un mensaje de error
        PRINT 'Error: ' + ERROR_MESSAGE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CargarProgramacionMensual]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author,,Name>
-- Create date: <Create Date,,>
-- Description: Carga una programación mensual para un robot y equipos específicos.
-- Modificado por: AI Agent
-- Fecha Modificación: <Current Date>
-- Descripción Modificación:
--   - @Equipos ahora acepta una lista de nombres de equipo separados por comas.
--   - Se utiliza SCOPE_IDENTITY() para obtener el ProgramacionId.
--   - Se procesan múltiples equipos, insertando o actualizando en dbo.Asignaciones.
--   - Se establece ProgramacionId y EsProgramado=1 en dbo.Asignaciones.
--   - Se manejan advertencias para equipos no encontrados.
--   - Se mantiene la lógica de transacción y actualización de Robot.EsOnline.
-- =============================================
CREATE PROCEDURE [dbo].[CargarProgramacionMensual]
    @Robot NVARCHAR(100),
    @Equipos NVARCHAR(MAX), -- Comma-separated team names
    @DiaDelMes INT,
    @HoraInicio TIME, -- Assuming HoraInicio is TIME for Mensual, adjust if different
    @Tolerancia INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RobotId INT;
    DECLARE @NewProgramacionId INT;
    DECLARE @CurrentEquipoId INT;
    DECLARE @CurrentEquipoNombre NVARCHAR(100);
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @HoraInicioStr NVARCHAR(MAX);

    -- Convert HoraInicio TIME to NVARCHAR(MAX) for Programaciones table if its type is NVARCHAR(MAX)
    SET @HoraInicioStr = CONVERT(NVARCHAR(8), @HoraInicio); -- HH:MM:SS format

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Obtener RobotId
        SELECT @RobotId = RobotId FROM dbo.Robots WHERE Robot = @Robot;

        IF @RobotId IS NULL
        BEGIN
            RAISERROR('El robot especificado no existe.', 16, 1);
            RETURN; 
        END

        -- Insertar en Programaciones
        -- Note: Assuming Programaciones.HoraInicio is NVARCHAR(MAX). If it's TIME, use @HoraInicio directly.
        INSERT INTO dbo.Programaciones (RobotId, TipoProgramacion, DiaDelMes, HoraInicio, Tolerancia, Activo, FechaCreacion)
        VALUES (@RobotId, 'Mensual', @DiaDelMes, @HoraInicioStr, @Tolerancia, 1, GETDATE());

        -- Obtener el ProgramacionId recién insertado
        SET @NewProgramacionId = SCOPE_IDENTITY();

        IF @NewProgramacionId IS NULL
        BEGIN
            RAISERROR('No se pudo obtener el ID de la nueva programación.', 16, 1);
            RETURN;
        END

        -- Actualizar el estado del Robot
        UPDATE dbo.Robots
        SET EsOnline = 0
        WHERE RobotId = @RobotId;

        -- Procesar cada equipo en la lista @Equipos
        DECLARE team_cursor CURSOR FOR
        SELECT LTRIM(RTRIM(value))
        FROM STRING_SPLIT(@Equipos, ',');

        OPEN team_cursor;
        FETCH NEXT FROM team_cursor INTO @CurrentEquipoNombre;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @CurrentEquipoId = NULL; 

            -- Obtener EquipoId para el equipo actual
            SELECT @CurrentEquipoId = EquipoId FROM dbo.Equipos WHERE Equipo = @CurrentEquipoNombre;

            IF @CurrentEquipoId IS NOT NULL
            BEGIN
                -- Verificar si la asignación ya existe
                IF EXISTS (SELECT 1 FROM dbo.Asignaciones WHERE RobotId = @RobotId AND EquipoId = @CurrentEquipoId)
                BEGIN
                    UPDATE dbo.Asignaciones
                    SET EsProgramado = 1,
                        ProgramacionId = @NewProgramacionId,
                        Reservado = 0, 
                        AsignadoPor = 'SP_Programacion_Mensual',
                        FechaAsignacion = GETDATE() 
                    WHERE RobotId = @RobotId AND EquipoId = @CurrentEquipoId;
                END
                ELSE
                BEGIN
                    INSERT INTO dbo.Asignaciones (RobotId, EquipoId, EsProgramado, ProgramacionId, Reservado, AsignadoPor, FechaAsignacion)
                    VALUES (@RobotId, @CurrentEquipoId, 1, @NewProgramacionId, 0, 'SP_Programacion_Mensual', GETDATE());
                END

                -- Actualizar el equipo para que no permita balanceo dinámico
                UPDATE dbo.Equipos
                SET PermiteBalanceoDinamico = 0
                WHERE EquipoId = @CurrentEquipoId;
            END
            ELSE
            BEGIN
                PRINT 'Warning: Equipo ' + @CurrentEquipoNombre + ' no encontrado y no será asignado.';
            END

            FETCH NEXT FROM team_cursor INTO @CurrentEquipoNombre;
        END

        CLOSE team_cursor;
        DEALLOCATE team_cursor;

        COMMIT TRANSACTION;
        PRINT 'Programación mensual cargada y equipos asignados/actualizados exitosamente para el robot ' + @Robot;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Registrar el error en la tabla ErrorLog
        DECLARE @Parametros NVARCHAR(MAX);
        SET @Parametros = '@Robot = ' + @Robot + 
                        ', @Equipos = ' + @Equipos + 
                        ', @HoraInicio = ' + CONVERT(NVARCHAR(8), @HoraInicio, 108) + 
                        ', @Tolerancia = ' + CAST(@Tolerancia AS NVARCHAR(10));

        -- Luego:
        INSERT INTO ErrorLog (Usuario, SPNombre, ErrorMensaje, Parametros)
        VALUES (
            SUSER_NAME(),
            'CargarProgramacionEspecifica',
            ERROR_MESSAGE(),
            @Parametros
        );


        -- Mostrar un mensaje de error
        PRINT 'Error: ' + ERROR_MESSAGE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CargarProgramacionSemanal]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author,,Name>
-- Create date: <Create Date,,>
-- Description: Carga una programación semanal para un robot y equipos específicos.
-- Modificado por: AI Agent
-- Fecha Modificación: <Current Date>
-- Descripción Modificación:
--   - @Equipos ahora acepta una lista de nombres de equipo separados por comas.
--   - Se utiliza SCOPE_IDENTITY() para obtener el ProgramacionId.
--   - Se procesan múltiples equipos, insertando o actualizando en dbo.Asignaciones.
--   - Se establece ProgramacionId y EsProgramado=1 en dbo.Asignaciones.
--   - Se manejan advertencias para equipos no encontrados.
--   - Se mantiene la lógica de transacción y actualización de Robot.EsOnline.
-- =============================================
CREATE PROCEDURE [dbo].[CargarProgramacionSemanal]
    @Robot NVARCHAR(100),
    @Equipos NVARCHAR(MAX), -- Comma-separated team names
    @DiasSemana NVARCHAR(100),
    @HoraInicio NVARCHAR(MAX),
    @Tolerancia INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RobotId INT;
    DECLARE @NewProgramacionId INT;
    DECLARE @CurrentEquipoId INT;
    DECLARE @CurrentEquipoNombre NVARCHAR(100);
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Obtener RobotId
        SELECT @RobotId = RobotId FROM dbo.Robots WHERE Robot = @Robot;

        IF @RobotId IS NULL
        BEGIN
            RAISERROR('El robot especificado no existe.', 16, 1);
            RETURN; 
        END

        -- Insertar en Programaciones
        INSERT INTO dbo.Programaciones (RobotId, TipoProgramacion, DiasSemana, HoraInicio, Tolerancia, Activo, FechaCreacion)
        VALUES (@RobotId, 'Semanal', @DiasSemana, @HoraInicio, @Tolerancia, 1, GETDATE());

        -- Obtener el ProgramacionId recién insertado
        SET @NewProgramacionId = SCOPE_IDENTITY();

        IF @NewProgramacionId IS NULL
        BEGIN
            RAISERROR('No se pudo obtener el ID de la nueva programación.', 16, 1);
            RETURN;
        END

        -- Actualizar el estado del Robot
        UPDATE dbo.Robots
        SET EsOnline = 0
        WHERE RobotId = @RobotId;

        -- Procesar cada equipo en la lista @Equipos
        DECLARE team_cursor CURSOR FOR
        SELECT LTRIM(RTRIM(value))
        FROM STRING_SPLIT(@Equipos, ',');

        OPEN team_cursor;
        FETCH NEXT FROM team_cursor INTO @CurrentEquipoNombre;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @CurrentEquipoId = NULL; 

            -- Obtener EquipoId para el equipo actual
            SELECT @CurrentEquipoId = EquipoId FROM dbo.Equipos WHERE Equipo = @CurrentEquipoNombre;

            IF @CurrentEquipoId IS NOT NULL
            BEGIN
                -- Verificar si la asignación ya existe
                IF EXISTS (SELECT 1 FROM dbo.Asignaciones WHERE RobotId = @RobotId AND EquipoId = @CurrentEquipoId)
                BEGIN
                    UPDATE dbo.Asignaciones
                    SET EsProgramado = 1,
                        ProgramacionId = @NewProgramacionId,
                        Reservado = 0, 
                        AsignadoPor = 'SP_Programacion_Semanal',
                        FechaAsignacion = GETDATE() 
                    WHERE RobotId = @RobotId AND EquipoId = @CurrentEquipoId;
                END
                ELSE
                BEGIN
                    INSERT INTO dbo.Asignaciones (RobotId, EquipoId, EsProgramado, ProgramacionId, Reservado, AsignadoPor, FechaAsignacion)
                    VALUES (@RobotId, @CurrentEquipoId, 1, @NewProgramacionId, 0, 'SP_Programacion_Semanal', GETDATE());
                END

                -- Actualizar el equipo para que no permita balanceo dinámico
                UPDATE dbo.Equipos
                SET PermiteBalanceoDinamico = 0
                WHERE EquipoId = @CurrentEquipoId;
            END
            ELSE
            BEGIN
                PRINT 'Warning: Equipo ' + @CurrentEquipoNombre + ' no encontrado y no será asignado.';
            END

            FETCH NEXT FROM team_cursor INTO @CurrentEquipoNombre;
        END

        CLOSE team_cursor;
        DEALLOCATE team_cursor;

        COMMIT TRANSACTION;
        PRINT 'Programación semanal cargada y equipos asignados/actualizados exitosamente para el robot ' + @Robot;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Registrar el error en la tabla ErrorLog
        DECLARE @Parametros NVARCHAR(MAX);
        SET @Parametros = '@Robot = ' + @Robot + 
                        ', @Equipos = ' + @Equipos + 
                        ', @HoraInicio = ' + CONVERT(NVARCHAR(8), @HoraInicio, 108) + 
                        ', @Tolerancia = ' + CAST(@Tolerancia AS NVARCHAR(10));

        -- Luego:
        INSERT INTO ErrorLog (Usuario, SPNombre, ErrorMensaje, Parametros)
        VALUES (
            SUSER_NAME(),
            'CargarProgramacionEspecifica',
            ERROR_MESSAGE(),
            @Parametros
        );

        -- Mostrar un mensaje de error
        PRINT 'Error: ' + ERROR_MESSAGE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CrearPool]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      LP
-- Create date: 2025-08-01
-- Description: Inserta un nuevo pool en la tabla dbo.Pools
--              y devuelve el registro recién creado.
-- =============================================
CREATE PROCEDURE [dbo].[CrearPool]
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    -- Verificar que no exista un pool con el mismo nombre
    IF EXISTS (SELECT 1 FROM dbo.Pools WHERE Nombre = @Nombre)
    BEGIN
        RAISERROR ('Ya existe un pool con el nombre "%s".', 16, 1, @Nombre);
        RETURN;
    END

    BEGIN TRY
        INSERT INTO dbo.Pools (Nombre, Descripcion)
        -- La cláusula OUTPUT devuelve los datos de la fila insertada
        OUTPUT INSERTED.PoolId, INSERTED.Nombre, INSERTED.Descripcion, INSERTED.Activo
        VALUES (@Nombre, @Descripcion);
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CrearProgramacion]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      LP
-- Create date: 28/7/2025
-- Description: Unifica y reemplaza los procedimientos CargarProgramacionDiaria, 
--              CargarProgramacionSemanal, CargarProgramacionMensual y
--              CargarProgramacionEspecifica.
--              Crea una programación para un robot, la asocia a una lista de
--              equipos y actualiza los estados correspondientes.
--              Utiliza MERGE y STRING_SPLIT para un rendimiento óptimo.
-- =============================================
CREATE PROCEDURE [dbo].[CrearProgramacion]
    @Robot NVARCHAR(100),
    @Equipos NVARCHAR(MAX), -- Nombres de equipos separados por comas
    @TipoProgramacion NVARCHAR(20), -- 'Diaria', 'Semanal', 'Mensual', 'Especifica'
    @HoraInicio TIME,
    @Tolerancia INT,
    @DiasSemana NVARCHAR(20) = NULL,
    @DiaDelMes INT = NULL,
    @FechaEspecifica DATE = NULL,
    @UsuarioCrea NVARCHAR(50) = 'WebApp_Creation'
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Asegura que la transacción se revierta si hay un error de runtime

    DECLARE @RobotId INT;
    DECLARE @NewProgramacionId INT;
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    -- Tabla temporal para almacenar los equipos que se van a programar
    CREATE TABLE #EquiposAProgramar (EquipoId INT PRIMARY KEY);

    BEGIN TRY
        -- 1. Validar y obtener el RobotId
        SELECT @RobotId = RobotId FROM dbo.Robots WHERE Robot = @Robot;

        IF @RobotId IS NULL
        BEGIN
            RAISERROR('El robot especificado no existe.', 16, 1);
            RETURN;
        END

        -- 2. Validar parámetros según el tipo de programación
        IF @TipoProgramacion = 'Semanal' AND ISNULL(@DiasSemana, '') = ''
            RAISERROR('Para una programación Semanal, se debe especificar @DiasSemana.', 16, 1);
        IF @TipoProgramacion = 'Mensual' AND @DiaDelMes IS NULL
            RAISERROR('Para una programación Mensual, se debe especificar @DiaDelMes.', 16, 1);
        IF @TipoProgramacion = 'Especifica' AND @FechaEspecifica IS NULL
            RAISERROR('Para una programación Específica, se debe especificar @FechaEspecifica.', 16, 1);

        BEGIN TRANSACTION;

        -- 3. Insertar la nueva programación en la tabla principal
        INSERT INTO dbo.Programaciones (
            RobotId, TipoProgramacion, HoraInicio, Tolerancia, Activo, 
            FechaCreacion, DiasSemana, DiaDelMes, FechaEspecifica
        )
        VALUES (
            @RobotId, @TipoProgramacion, @HoraInicio, @Tolerancia, 1, 
            GETDATE(),
            CASE WHEN @TipoProgramacion = 'Semanal' THEN @DiasSemana ELSE NULL END,
            CASE WHEN @TipoProgramacion = 'Mensual' THEN @DiaDelMes ELSE NULL END,
            CASE WHEN @TipoProgramacion = 'Especifica' THEN @FechaEspecifica ELSE NULL END
        );

        SET @NewProgramacionId = SCOPE_IDENTITY();

        IF @NewProgramacionId IS NULL
        BEGIN
            RAISERROR('Error fatal: No se pudo obtener el ID de la nueva programación.', 16, 1);
            RETURN;
        END

        -- 4. Poblar la tabla temporal con los IDs de los equipos válidos y activos
        INSERT INTO #EquiposAProgramar (EquipoId)
        SELECT E.EquipoId
        FROM STRING_SPLIT(@Equipos, ',') AS S
        JOIN dbo.Equipos E ON LTRIM(RTRIM(S.value)) = E.Equipo
        WHERE E.Activo_SAM = 1;
        
        -- (Opcional) Mostrar advertencias por equipos inválidos o inactivos
        SELECT 'Warning: Equipo "' + LTRIM(RTRIM(S.value)) + '" no encontrado o inactivo y no será programado.' AS Advertencia
        FROM STRING_SPLIT(@Equipos, ',') S
        WHERE NOT EXISTS (
            SELECT 1 FROM dbo.Equipos E
            WHERE E.Equipo = LTRIM(RTRIM(S.value)) AND E.Activo_SAM = 1
        );

        -- 5. Asignar los equipos a la nueva programación usando MERGE
        MERGE dbo.Asignaciones AS Target
        USING #EquiposAProgramar AS Source
        ON (Target.EquipoId = Source.EquipoId AND Target.RobotId = @RobotId)
        WHEN MATCHED THEN
            -- Si ya existe una asignación (manual, reservada, etc.), se actualiza a programada
            UPDATE SET
                EsProgramado = 1,
                ProgramacionId = @NewProgramacionId,
                Reservado = 0, -- Una programación siempre tiene prioridad sobre una reserva manual
                AsignadoPor = @UsuarioCrea,
                FechaAsignacion = GETDATE()
        WHEN NOT MATCHED BY TARGET THEN
            -- Si no existe, se crea la nueva asignación programada
            INSERT (RobotId, EquipoId, EsProgramado, ProgramacionId, Reservado, AsignadoPor, FechaAsignacion)
            VALUES (@RobotId, Source.EquipoId, 1, @NewProgramacionId, 0, @UsuarioCrea, GETDATE());

        -- 6. Actualizar el estado del Robot a "No Online" ya que ahora tiene una programación
        UPDATE dbo.Robots
        SET EsOnline = 0
        WHERE RobotId = @RobotId;

        -- 7. Desactivar el balanceo dinámico para todos los equipos recién programados
        UPDATE E
        SET PermiteBalanceoDinamico = 0
        FROM dbo.Equipos E
        JOIN #EquiposAProgramar NEP ON E.EquipoId = NEP.EquipoId;

        COMMIT TRANSACTION;
        
        PRINT 'Programación de tipo "' + @TipoProgramacion + '" creada exitosamente para el robot "' + @Robot + '".';

        -- Limpieza en caso de éxito
        IF OBJECT_ID('tempdb..#EquiposAProgramar') IS NOT NULL
            DROP TABLE #EquiposAProgramar;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Limpieza en caso de error
        IF OBJECT_ID('tempdb..#EquiposAProgramar') IS NOT NULL
            DROP TABLE #EquiposAProgramar;

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();

        -- Registrar el error con todos los parámetros para un diagnóstico completo
        DECLARE @Parametros NVARCHAR(MAX) = FORMATMESSAGE(
            '@Robot=%s, @Equipos=%s, @TipoProgramacion=%s, @HoraInicio=%s, @Tolerancia=%d, @DiasSemana=%s, @DiaDelMes=%d, @FechaEspecifica=%s',
            ISNULL(@Robot, 'NULL'),
            ISNULL(@Equipos, 'NULL'),
            ISNULL(@TipoProgramacion, 'NULL'),
            ISNULL(CONVERT(NVARCHAR(8), @HoraInicio, 108), 'NULL'),
            ISNULL(@Tolerancia, 'NULL'),
            ISNULL(@DiasSemana, 'NULL'),
            ISNULL(CAST(@DiaDelMes AS NVARCHAR(10)), 'NULL'),
            ISNULL(CONVERT(NVARCHAR(10), @FechaEspecifica, 120), 'NULL')
        );

        INSERT INTO dbo.ErrorLog (Usuario, SPNombre, ErrorMensaje, Parametros)
        VALUES (SUSER_NAME(), 'CrearProgramacion', @ErrorMessage, @Parametros);

        -- Relanzar el error para que la aplicación cliente lo reciba
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarProgramacionCompleta]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Usamos CREATE OR ALTER para que el script se pueda ejecutar múltiples veces sin error.
CREATE   PROCEDURE [dbo].[EliminarProgramacionCompleta]
    @ProgramacionId INT,
    @RobotId INT,
    @UsuarioModifica NVARCHAR(50) = 'WebApp_Delete'
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ErrorMessage NVARCHAR(4000);
    CREATE TABLE #EquiposAfectados (EquipoId INT PRIMARY KEY);

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Identificar los equipos que están asignados a ESTA programación
        INSERT INTO #EquiposAfectados (EquipoId)
        SELECT DISTINCT EquipoId
        FROM dbo.Asignaciones
        WHERE ProgramacionId = @ProgramacionId AND RobotId = @RobotId AND EsProgramado = 1;

        -- 2. Eliminar la programación de la tabla principal.
        -- Esto debe hacerse ANTES de modificar las asignaciones para evitar conflictos de FK.
        DELETE FROM dbo.Programaciones
        WHERE ProgramacionId = @ProgramacionId AND RobotId = @RobotId;

        -- 3. Ahora, manejamos las asignaciones.
        -- Borramos la fila de asignación para los equipos afectados, pero SOLO
        -- si no están también marcados como 'Reservado'.
        DELETE FROM dbo.Asignaciones
        WHERE RobotId = @RobotId
          AND EquipoId IN (SELECT EquipoId FROM #EquiposAfectados)
          AND (Reservado = 0 OR Reservado IS NULL); -- No tocar asignaciones reservadas manualmente

        -- 4. Finalmente, para los equipos que liberamos, nos aseguramos
        -- de que puedan volver al pool de balanceo dinámico.
        UPDATE E
        SET E.PermiteBalanceoDinamico = 1
        FROM dbo.Equipos E
        JOIN #EquiposAfectados A ON E.EquipoId = A.EquipoId
        WHERE NOT EXISTS (
            SELECT 1 FROM dbo.Asignaciones a2
            WHERE a2.EquipoId = E.EquipoId AND (a2.EsProgramado = 1 OR a2.Reservado = 1)
        );

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @ErrorMessage = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH

    IF OBJECT_ID('tempdb..#EquiposAfectados') IS NOT NULL
        DROP TABLE #EquiposAfectados;
END

GO
/****** Object:  StoredProcedure [dbo].[ListarPools]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      LP
-- Create date: 2025-08-01
-- Description: Obtiene una lista de todos los pools de recursos
--              junto con la cantidad de robots y equipos
--              asignados a cada uno. Incluye manejo de errores.
-- =============================================
CREATE PROCEDURE [dbo].[ListarPools]
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Asegura que la sesión se cierre si hay un error grave

    BEGIN TRY
        -- Lógica principal de la consulta
        SELECT
            p.PoolId,
            p.Nombre,
            p.Descripcion,
            p.Activo,
            (SELECT COUNT(*) FROM dbo.Robots r WHERE r.PoolId = p.PoolId) AS CantidadRobots,
            (SELECT COUNT(*) FROM dbo.Equipos e WHERE e.PoolId = p.PoolId) AS CantidadEquipos
        FROM
            dbo.Pools p
        ORDER BY
            p.Nombre ASC;

    END TRY
    BEGIN CATCH
        -- Manejo de errores estándar del proyecto
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Insertar el error en la tabla de log
        INSERT INTO dbo.ErrorLog (Usuario, SPNombre, ErrorMensaje, Parametros)
        VALUES (SUSER_NAME(), 'dbo.ListarPools', @ErrorMessage, NULL);

        -- Relanzar el error para que la aplicación cliente lo reciba
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ListarProgramaciones]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarProgramaciones]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
        P.ProgramacionId,
        P.RobotId,
        R.Robot AS RobotNombre,
        P.TipoProgramacion,
        P.HoraInicio,
        P.DiasSemana,
        P.DiaDelMes,
        P.FechaEspecifica,
        P.Tolerancia,
        P.Activo,
        P.FechaCreacion,
        P.FechaModificacion,
        STRING_AGG(E.Equipo, ', ') WITHIN GROUP (ORDER BY E.Equipo) AS EquiposProgramados
    FROM
        Programaciones P
    INNER JOIN
        Robots R ON P.RobotId = R.RobotId
    LEFT JOIN
        Asignaciones A ON P.ProgramacionId = A.ProgramacionId
    LEFT JOIN
        Equipos E ON A.EquipoId = E.EquipoId
    GROUP BY
        P.ProgramacionId,
        P.RobotId,
        R.Robot,
        P.TipoProgramacion,
        P.HoraInicio,
        P.DiasSemana,
        P.DiaDelMes,
        P.FechaEspecifica,
        P.Tolerancia,
        P.Activo,
        P.FechaCreacion,
        P.FechaModificacion
    ORDER BY
        P.ProgramacionId;
END
GO
/****** Object:  StoredProcedure [dbo].[MergeEquipos]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      LP
-- Create date: 2025-08-01
-- Description: Sincroniza la tabla dbo.Equipos usando una lista
--              proporcionada como un Table-Valued Parameter (TVP).
-- =============================================
CREATE PROCEDURE [dbo].[MergeEquipos]
    @EquipoList dbo.EquipoListType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        MERGE dbo.Equipos AS TARGET
        USING @EquipoList AS SOURCE
        ON (TARGET.EquipoId = SOURCE.EquipoId)

        -- CUANDO EL EQUIPO YA EXISTE Y ALGO CAMBIÓ
        WHEN MATCHED AND (
                TARGET.Equipo <> SOURCE.Equipo OR
                TARGET.UserId <> SOURCE.UserId OR
                ISNULL(TARGET.UserName, '') <> ISNULL(SOURCE.UserName, '') OR
                ISNULL(TARGET.Licencia, '') <> ISNULL(SOURCE.Licencia, '') OR
                TARGET.Activo_SAM <> SOURCE.Activo_SAM
            )
        THEN
            UPDATE SET
                TARGET.Equipo = SOURCE.Equipo,
                TARGET.UserId = SOURCE.UserId,
                TARGET.UserName = SOURCE.UserName,
                TARGET.Licencia = SOURCE.Licencia,
                TARGET.Activo_SAM = SOURCE.Activo_SAM,
				TARGET.PermiteBalanceoDinamico = CASE 
					WHEN SOURCE.Licencia = 'ATTENDEDRUNTIME' THEN 1 
					ELSE 0 
				END

        -- CUANDO EL EQUIPO ES NUEVO
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (EquipoId, Equipo, UserId, UserName, Licencia, Activo_SAM, PermiteBalanceoDinamico)
            VALUES (
				SOURCE.EquipoId,
				SOURCE.Equipo,
				SOURCE.UserId,
				SOURCE.UserName,
				SOURCE.Licencia,
				SOURCE.Activo_SAM,
				CASE 
				  WHEN SOURCE.Licencia = 'ATTENDEDRUNTIME' THEN 1 
				ELSE 0 
			END);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        INSERT INTO dbo.ErrorLog (Usuario, SPNombre, ErrorMensaje, Parametros)
        VALUES (SUSER_NAME(), 'dbo.MergeEquipos', @ErrorMessage, 'Input: @EquipoList (Table-Valued Parameter)');

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[MergeRobots]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      LP
-- Create date: 2025-08-01
-- Description: Sincroniza (actualiza o inserta) la tabla dbo.Robots
--              usando una lista de robots proporcionada como un TVP.
--              Sigue el estándar de manejo de errores y transacciones.
-- =============================================
CREATE PROCEDURE [dbo].[MergeRobots]
    @RobotList dbo.RobotListType READONLY
AS
BEGIN
    -- --- Adiciones para robustez y estándar ---
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- --- Lógica principal del MERGE ---
        MERGE dbo.Robots AS TARGET
        USING @RobotList AS SOURCE
        ON (TARGET.RobotId = SOURCE.RobotId)

        -- CUANDO EL ROBOT YA EXISTE Y ALGO CAMBIÓ
        WHEN MATCHED AND (TARGET.Robot <> SOURCE.Robot OR ISNULL(TARGET.Descripcion, '') <> ISNULL(SOURCE.Descripcion, '')) THEN
            UPDATE SET
                TARGET.Robot = SOURCE.Robot,
                TARGET.Descripcion = SOURCE.Descripcion

        -- CUANDO EL ROBOT ES NUEVO
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (RobotId, Robot, Descripcion)
            VALUES (SOURCE.RobotId, SOURCE.Robot, SOURCE.Descripcion);
            -- Las demás columnas se llenan con los valores DEFAULT de la tabla.

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- --- Manejo de errores estándar ---
        -- Si hay una transacción activa, se revierte.
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Declaración de variables para el mensaje de error
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Insertar el error en la tabla de log
        INSERT INTO dbo.ErrorLog (Usuario, SPNombre, ErrorMensaje, Parametros)
        VALUES (SUSER_NAME(), 'dbo.MergeRobots', @ErrorMessage, 'Input: @RobotList (Table-Valued Parameter)');

        -- Relanzar el error para que la aplicación cliente lo reciba
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerRobotsEjecutables]    Script Date: 5/8/2025 09:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerRobotsEjecutables]
AS
BEGIN
    SET NOCOUNT ON;
    -- Configurar el idioma español
    SET LANGUAGE Spanish;

    DECLARE @FechaActual DATETIME = GETDATE();
    DECLARE @HoraActual TIME(0) = CAST(@FechaActual AS TIME(0));
    DECLARE @DiaSemanaActual NVARCHAR(2) = LEFT(DATENAME(WEEKDAY, @FechaActual), 2);

    -- Tabla temporal para almacenar los resultados
    CREATE TABLE #ResultadosRobots (
        RobotId INT,
        EquipoId INT,
        UserId INT,
        Hora TIME(0),
        EsProgramado BIT
    )

    -- Insertar robots programados elegibles
    INSERT INTO #ResultadosRobots (RobotId, EquipoId, UserId, Hora, EsProgramado)
    SELECT 
        R.RobotId,
        A.EquipoId,
        E.UserId,
        P.HoraInicio,
        1 AS EsProgramado
    FROM Robots R
    INNER JOIN Asignaciones A ON R.RobotId = A.RobotId
    INNER JOIN Equipos E ON A.EquipoId = E.EquipoId
    INNER JOIN Programaciones P ON R.RobotId = P.RobotId
    WHERE 
        A.EsProgramado = 1
        AND R.Activo = 1
        AND (
            (P.TipoProgramacion = 'Diaria' AND @HoraActual BETWEEN P.HoraInicio AND DATEADD(MINUTE, P.Tolerancia, P.HoraInicio))
            OR (P.TipoProgramacion = 'Semanal' AND CHARINDEX(@DiaSemanaActual, P.DiasSemana) > 0 AND @HoraActual BETWEEN P.HoraInicio AND DATEADD(MINUTE, P.Tolerancia, P.HoraInicio))
            OR (P.TipoProgramacion = 'Mensual' AND P.DiaDelMes = DAY(@FechaActual) AND @HoraActual BETWEEN P.HoraInicio AND DATEADD(MINUTE, P.Tolerancia, P.HoraInicio))
            OR (P.TipoProgramacion = 'Especifica' AND P.FechaEspecifica = CAST(@FechaActual AS DATE) AND @HoraActual BETWEEN P.HoraInicio AND DATEADD(MINUTE, P.Tolerancia, P.HoraInicio))
        )
        AND NOT EXISTS (
            SELECT 1
            FROM Ejecuciones E
            WHERE 1=1
				AND E.RobotId = R.RobotId
                AND E.EquipoId = A.EquipoId
                AND CAST(E.FechaInicio AS DATE) = CAST(@FechaActual AS DATE)
                AND E.Hora = P.HoraInicio
        )
        AND NOT EXISTS (
            SELECT 1
            FROM Ejecuciones E
            WHERE 1=1
				AND E.EquipoId = A.EquipoId 
				AND E.Estado in ('DEPLOYED', 'QUEUED', 'PENDING_EXECUTION', 'RUNNING', 'UPDATE','RUN_PAUSED')
        )

    -- Insertar robots online elegibles para equipos sin robots programados o en ejecución
    INSERT INTO #ResultadosRobots (RobotId, EquipoId, UserId, Hora, EsProgramado)
    SELECT 
        R.RobotId,
        A.EquipoId,
        E.UserId,
        NULL AS Hora,
        0 AS EsProgramado
    FROM Robots R
    INNER JOIN Asignaciones A ON R.RobotId = A.RobotId
    INNER JOIN Equipos E ON A.EquipoId = E.EquipoId
    WHERE 
        R.EsOnline = 1
        AND R.Activo = 1
        AND A.EsProgramado = 0
        AND NOT EXISTS ( -- no repetir equipo ya asignado
            SELECT 1
            FROM #ResultadosRobots RR
            WHERE RR.EquipoId = A.EquipoId
        )
        AND NOT EXISTS (
            SELECT 1
            FROM Ejecuciones E
            WHERE 1=1
				AND E.EquipoId = A.EquipoId 
				AND E.Estado in ('DEPLOYED', 'QUEUED', 'PENDING_EXECUTION', 'RUNNING', 'UPDATE','RUN_PAUSED')
        )

    -- Devolver los resultados
    SELECT RobotId, EquipoId, UserId, Hora
    FROM #ResultadosRobots
    ORDER BY EsProgramado DESC, Hora

    -- Limpiar la tabla temporal
    DROP TABLE #ResultadosRobots
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'(Opcional, pero útil) Podría indicar "DisponibleEnPoolPivote", "AsignadoDinamicoA_RobotX", "EnMantenimientoManual", etc.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Equipos', @level2type=N'COLUMN',@level2name=N'EstadoBalanceador'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Diaria, 2-Semanal, 3-Mensual, 4-Especifica' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Programaciones', @level2type=N'COLUMN',@level2name=N'TipoProgramacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Número mínimo de equipos que el balanceador intentará mantener asignado si hay tickets.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Robots', @level2type=N'COLUMN',@level2name=N'MinEquipos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Límite de equipos que el balanceador puede asignar dinámicamente a este robot. (default -1 o un número alto)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Robots', @level2type=N'COLUMN',@level2name=N'MaxEquipos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Para decidir qué robot obtiene recursos si son escasos. Menor número = mayor prioridad.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Robots', @level2type=N'COLUMN',@level2name=N'PrioridadBalanceo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "A"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EQ"
            Begin Extent = 
               Top = 111
               Left = 303
               Bottom = 274
               Right = 497
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "R"
            Begin Extent = 
               Top = 7
               Left = 532
               Bottom = 170
               Right = 726
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AsignacionesView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AsignacionesView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "E"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 288
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EQ"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "R"
            Begin Extent = 
               Top = 7
               Left = 532
               Bottom = 170
               Right = 726
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 12
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 2496
         Width = 1200
         Width = 1944
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EjecucionesActivas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EjecucionesActivas'
GO
